html {
  font-size: 62.5%;
}
body {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
}
.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}
