html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.header {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
body {
  padding: 0 2rem;
}
.header {
  display: flex;
}
.calls-to-action {
  margin-left: auto;
}
.logo {
  width: 50px;
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header li {
  margin: 1rem;
  font-weight: bold;
  vertical-align: center;
}
.header a {
  color: #000;
  text-decoration: none;
}
.header a:hover {
  color: #808080;
}
.wt_page-intro {
  max-width: 600px;
  margin: 0 auto;
}
#wt_full-partners-list {
  list-style-type: none;
  margin: 0 100px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 100px;
  row-gap: 100px;
}
