body
	&.page-template-template-about
		width 100% // body not rendering 100% automatically
		
		main
			margin-bottom 15%
			
			p
				width 90%
				max-width 650px
				margin-left auto
				margin-right auto

				a
					display inline
					font-weight 700
				