.wt_archive-videos
    font-size 1.2rem

    &__intro
        text-align center
    
    &__grid
    	&::before
    		content ""
    		position absolute
    		z-index -1
    		height 450%
    		transform translateY(2%)
    		background-color transparent
    		border-right 100vw solid
    		border-right-color #e99086
    		border-top 100px solid transparent

    &__no-search-results
        text-align center

    &__all-videos
        text-align center

@media all and (max-width:768px)
    .wt_archive-videos
        &__intro
            margin 15% auto 5% !important
