.wt_archive-languages
    &__main
        width 90%
        margin 5% auto
        column-count 3
        text-align center

    &__link
        color #6eb0ff
        margin-bottom 5px

        &:hover
            text-decoration underline