.wt_archive-languages
    &__searchform
        text-align center

    &__main
        width 90%
        margin 5% auto 10%
        column-count 3
        text-align center

    &__link
        color #6eb0ff
        margin-bottom 5px

        &:hover
            text-decoration underline

    &__no-search-results
        text-align center
        margin-bottom 10%

    &__all-languages
        text-align center
        margin-bottom 10%

@media only screen and (max-width: 1280px)
    .wt_archive-languages
        &__pagination
            margin-bottom 10%

@media only screen and (max-width: 979px)
    .wt_archive-languages
        &__no-search-results
            margin-bottom 20%

        &__all-languages
            margin-bottom 20%

        &__pagination
            margin-bottom 20%
            
@media only screen and (max-width: 768px)
    .wt_archive-languages
        &__no-search-results
            margin-bottom 30%

        &__all-languages
            margin-bottom 30%

        &__pagination
            margin-bottom 30%