body
    &.post-type-archive-projects
    	.wt_header
		    &__nav
	            ul
	                li
	                    a
	                        color $blue
	                
	                &:last-of-type
	                    li
	                        background $interactive
	                        
	                        a
	                            color $white !important
	    
	    &>h1
	    	margin $margin5 0 $margin2
	    	text-align center
	    
	    .wt_section
	    	&:first-of-type
	    		margin-top 0

	    	&:last-of-type
	    		margin-bottom $margin5