body
	&.page-template-template-donate
		.wt_form-banner
			&:before
				border-right initial
				border-left initial
				border-bottom initial

		.footer
			margin-top 0

@media all and (max-width:979px)
	body
		&.page-template-template-donate
			.wt_donate-banner
				.wt_donate-banner-content
					width auto
					margin auto
					border-radius 0