body
    &.home
        .wt_banner
            .wt_banner-image-caption
                left -3%
                -webkit-transform rotate(-90deg)
                -ms-transform rotate(-90deg)
                -o-transform rotate(-90deg)
                transform rotate(-90deg)
                margin 0
                bottom 10%

        ul.wt_featured-partners
            list-style-type none
            width 80vw
            margin 2.5% auto 10%
            padding 0
            display flex
            justify-content space-around

            li
                flex 1
                max-width 15rem
                margin 2rem
                
                img
                    border-radius 0
                    width 100%
                    height auto
        
        .wt_page-section
            font-size 1.75rem
            
            &.primary_content-block
                color $text-color-light
            
            &#primary_content-block-1
                .wt_section-image-caption
                    color $text-color
            
            .wt_featured-items
                color $text-color !important
        
        #wt_blog-title
            margin-bottom 0
            
            &+p
                margin 0
                text-align center