body
    &.home
        .wt_banner
            .wt_banner-image-caption
                left 5%
                -webkit-transform rotate(-5deg) // rotation doesn't quite align, gonna need some media queries to get this right
                -ms-transform rotate(-5deg)
                -o-transform rotate(-5deg)
                transform rotate(-5deg)
                margin 0
                bottom 5%

        ul.wt_featured-partners
            list-style-type none
            width 80vw
            margin 0 auto 8%
            padding 0
            text-align justify

            &:after
                content ''
                width 100%
                display inline-block

            li
                max-width 15rem
                margin 2rem
                display inline-block

                img
                    border-radius 0
                    width 100%
                    height auto

        .wt_page-section
            font-size 1.75rem

            &.primary_content-block
                color $text-color-light

                .wt_section-image
                    width 45vw

            &#primary_content-block-2
                margin-bottom 0

                .wt_section-content
                    .wt_section-message
                        .wt_cta
                            background-color $text-color-light
                            color $highlight-color

                            &:hover
                                color $highlight-color

            &#primary_content-block-3
                margin-bottom 0

            .wt_featured-items
                color $text-color !important
                margin-top 0
                padding-top 0

                .wt_featured-item
                    width 28%
                    height 495px

            &.news_content-block
                margin-bottom 1rem

                .wt_section-message
                    max-width 550px
                    box-sizing border-box

                    h1
                        text-transform unset
                        font-size 3rem
                        line-height initial

                    .wt_cta
                        width initial
                        float left
                        background transparent
                        padding 0
                        color black
                        margin-top 2rem
                        font-weight 400


        #wt_blog-title
            margin 4rem 0 0
            color white
            text-transform uppercase

            &+p
                margin 0
                text-align center

@media all and (max-width:979px)
    body
        &.home
            .wt_banner
                display block

                .wt_banner-message
                    position absolute
                    bottom 20%

                    h1
                        font-size 3rem

                    .wt_cta
                        width 75%
                        padding 2rem 1rem
                        font-size 1.5rem

                .wt_banner-image-caption
                    left -20%
                    bottom 20%
                    transform rotate(-8deg)

            .wt_featured-partners
                display block !important
                text-align center

                li
                    display inline-block
                    width 26% !important
                    margin 2% !important

            .wt_page-section
                .wt_section-image
                    width 100% !important

                    .wt_section-image-caption
                        bottom 0
                        -webkit-transform none
                        -ms-transform none
                        -o-transform none
                        transform none
                        margin 0 0 10px 10px

                .wt_featured-items
                    .wt_featured-item
                        width 100%
                        height auto
                        margin 2% 1%

            #wt_blog-title
                margin-bottom 2rem

@media all and (max-width:450px)
    .wt_banner-image-caption
        transform rotate(-15deg) !important
