body
    &.home
        .wt_banner
            // this should go in the header
            .wt_banner-image-caption
                left 5%
                -webkit-transform rotate(-5deg) // rotation doesn't quite align, gonna need some media queries to get this right
                -ms-transform rotate(-5deg)
                -o-transform rotate(-5deg)
                transform rotate(-5deg)
                margin 0
                bottom 5%

        .wt_page-section
            padding 30px 0 60px
            
            &#primary_content-block-1
                background $yellow
                
                &:before
                    content ''
                    position absolute
                    border-right 100vw solid $yellow
                    border-top 25px solid transparent 
                    height 25px
                    top -25px             

            &#primary_content-block-2
                background $light_blue
                
                &:before
                    content ''
                    position absolute
                    border-left 100vw solid $light_blue
                    border-top 25px solid transparent 
                    height 25px
                    top -25px
                                
                .wt_featured-items
                    .wt_featured-item
                        font-size 1.25rem
                        background #fff
                        
                        &:last-of-type
                            position relative
                            background #ffc342
                            
                            a
                                color #fff
                            
                            h2
                                position absolute
                                top 50%
                                left 50%
                                transform translate(-50%,-50%)
                                width 80%
                                font-size 3em
                                text-align center
                                text-transform uppercase
                                letter-spacing 0.06em

            &#primary_content-block-3
                background $pink
                
                &:before
                    content ''
                    position absolute
                    border-right 100vw solid $pink
                    border-top 25px solid transparent 
                    height 25px
                    top -25px

            .wt_featured-items
                overflow-x scroll
                white-space nowrap
                color $dark_blue !important
                margin-top 0
                padding-top 0

                .wt_featured-item
                    display inline-block !important
                    vertical-align top
                    width 350px
                    height 386px
                    white-space normal

            &.news_content-block
                margin-bottom 1rem

                &#news_content-block-1
                    padding-top 50px

                .wt_section-message
                    max-width 550px
                    box-sizing border-box

                    .wt_cta
                        width initial
                        float left
                        background transparent
                        padding 0
                        color black
                        margin-top 2rem
                        font-weight 400


        #wt_blog-title
            bannerh1(center)
            text-shadow none !important

            &+p
                margin 0
                text-align center
        
        h2.wt_featured-press-title
            margin-top 100px
        
        h2.wt_featured-partners-title,
        h2.wt_featured-press-title
            width 100%
            text-align center
            text-transform uppercase
        
        ul.wt_featured-partners,
        ul.wt_featured-press
            list-style-type none
            width 100%
            width 100vw
            padding 2% 8% !important
            text-align center      
            box-sizing border-box   

            li
                display inline-block
                max-width 15rem
                margin 2rem

                img
                    border-radius 0
                    width 100%
                    height auto
        
        ul.wt_featured-press
            li
                vertical-align middle
        
        ul.wt_featured-partners
            margin 50px 0 100px !important
            
            li
                vertical-align top
        
        .wt_donate-banner
            position relative
            margin-top 0 !important
            box-shadow none !important
            
            &:before
                content ""
                background-color transparent
                position absolute
                height 0
                left 0
                top -100px
                border-left 100vw solid transparent
                border-bottom 100px solid #ededed
                z-index 5

@media all and (max-width:979px)
    body
        &.home
            .wt_banner
                display block
                
                .wt_banner-message
                    position absolute 
                    bottom 20%
                    
                    h1
                        font-size 3rem
                    
                    .wt_cta
                        width 75%
                        padding 2rem 1rem
                        font-size 1.5rem
                
                .wt_banner-image-caption
                    left 4%
                    bottom 6%
                    -webkit-transform rotate(-15deg)
                    -ms-transform rotate(-15deg)
                    -o-transform rotate(-15deg)
                    transform rotate(-15deg)
            
            .wt_featured-partners
                display block !important
                text-align center
                
                li
                    display inline-block
                    width 26% !important
                    margin 2% !important
            
            .wt_page-section
                .wt_section-image
                    .wt_section-image-caption
                        bottom 0
                        -webkit-transform none
                        -ms-transform none
                        -o-transform none
                        transform none
                        margin 0 0 10px 10px
                
                .wt_featured-items
                    .wt_featured-item
                        width 100%
                        margin 2% 1%
            
            #wt_blog-title
                margin-bottom 2rem