img
    max-width 100%

a
    text-decoration none
    color $text-color

h1
    text-align center
    font-weight normal

h2
    margin 0
    padding 0

.wt_cta
    display inline-block
    padding 2rem
    font-size 2rem
    font-weight normal
    background-color $highlight-color
    border-radius 1rem
    margin 2rem 0
