html
    margin-top 0
    width 100%
    scroll-behavior smooth

body
    margin-top 0
    width 100%
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	display inline-block

.wt_header
    z-index 10
    position fixed
    display flex
    top 0
    width 100% // Using %: using the vw unit overflows on the x axis
    
    &.background
        background rgba(255,255,255,.98)
        
        .wt_header
            &__logo
                width 55px
        
            &__nav
                ul
                    margin-top 15px
                    
                    li
                        margin 0 10px
                        
                        a
                            color $blue
                    
                    &:last-of-type
                        margin-right 30px
                        
                        li
                            background $interactive
                            
                            &:last-of-type
                                margin-right 0
                            
                            a
                                color $white
                    
    &__logo
        width 65px
        margin 0 30px

        img
            width 100% !important
            height auto
            border-radius 0 0 50% 50%
            float left
            boxShadow()
    
    &__nav
        width 100%
        text-align right
           
        ul
            display inline-block
            margin-top 30px
            padding-left 0
            
            li
                display inline
                margin 0 10px
                
                a
                    interactive($white)
        
            &:last-of-type
                li
                    padding 10px 20px
                    border-radius 20px
                    background $white
                    
                    &:last-of-type
                        margin-right 30px
                    
                    a
                        color $blue

@media all and (max-width:$mobile)
    .wt_header
        &.background
            background initial
            box-shadow initial
            
            .wt_header__logo
                width 65px !important
        
        &__logo
            margin 0 15px
                
        &__nav
            display none !important