/*------------------------------------*\
    HEADER
    header.php
\*------------------------------------*/

/*
    Main header flexbox
    3 children: div.logo img, nav.nav ul, nav.calls-to-action ul
*/

.header
    display flex
    position absolute
    top 0
    width 100vw

// Calls to action aligned to the right
.calls-to-action
    margin-left auto

// Logo size
.logo
    width 50px

/*
    Secondary header flexboxes
    Each of the two nav is a flexbox, each link is a flex item
*/

.header ul
    list-style-type none
    margin 0
    padding 0
    display flex

// Position nav items
.header li
    margin 1rem
    font-weight bold
    vertical-align center

// Style nav links
.header a
    color $text-color
    text-decoration none

// Style nav links on hover
.header a:hover
    color: $secondary-text-color

/* NO BROWSER SUPPORT
// White text if over a banner
.header:has(+ .wt_banner) a
    color white
*/

/*------------------------------------*\
    BANNER
    components/banner.html
\*------------------------------------*/

.wt_banner
    height 100vh
    width 100vw
    display flex
    flex-direction column
    justify-content center
    z-index -1

.wt_banner-message
    margin-left 10rem

.wt_banner-message h1, .wt_banner-message a
    color white

/*------------------------------------*\
    FEATURED PARTNERS
    front-page.php
\*------------------------------------*/

ul.wt_featured-partners
    list-style-type none
    margin 0
    padding 0
    display flex
    justify-content space-between

ul.wt_featured-partners li
    flex 1
    max-width 20rem

/*------------------------------------*\
    SECTION
    components/section.php
\*------------------------------------*/

.wt_page-section
    display flex

.wt_page-section aside
    flex 1

/*------------------------------------*\
    FEATURED ITEMS
    components/featured-item.php
\*------------------------------------*/

// Display as a flexbox
.wt_featured-items
    display flex
    justify-content space-between

/*------------------------------------*\
    PAGE INTRO
    components/page-intro.php
\*------------------------------------*/

.wt_page-intro
    max-width 60rem
    margin 0 auto

/*------------------------------------*\
    PARTNERS LIST
    template-partners.php
\*------------------------------------*/

#wt_full-partners-list
    list-style-type none
    margin 0 100px
    padding 0
    display grid
    grid-template-columns repeat(auto-fit, minmax(15rem, 1fr))
    column-gap 10rem
    row-gap 10rem
