/*------------------------------------*\
    HEADER
    header.php
\*------------------------------------*/

/*
    Main header flexbox
    3 children: div.logo img, nav.nav ul, nav.calls-to-action ul
*/

.header
    display flex
    position absolute
    width 100% // Using %: using the vw unit overflows on the x axis
    top 0

// Calls to action aligned to the right
.calls-to-action
    margin-left auto

// Logo size
.logo
    width 5rem

/*
    Secondary header flexboxes
    Each of the two nav is a flexbox, each link is a flex item
*/

.header ul
    list-style-type none
    margin 0
    padding 0
    display flex

// Position nav items
.header li
    margin 1rem
    font-weight bold

// Style nav links
.header a
    color $text-color
    text-decoration none

// Style nav links on hover
.header a:hover
    color: $secondary-text-color

/* NO BROWSER SUPPORT
// White text if over a banner
.header:has(+ .wt_banner) a
    color white
*/

/*------------------------------------*\
    BANNER
    components/banner.html
\*------------------------------------*/

.wt_banner
    height 100vh
    display flex
    flex-direction column
    justify-content center
    z-index -1

.wt_banner-message
    margin-left 10rem

.wt_banner-message h1, .wt_banner-message a
    color white

/*------------------------------------*\
    ALERT
    components/alert.php
\*------------------------------------*/

.wt_alert
    display flex
    justify-content flex-start
    background-color LightGreen

.wt_alert-message
    max-width 60rem

.wt_close-module
    margin-left auto

/*------------------------------------*\
    FEATURED PARTNERS
    front-page.php
\*------------------------------------*/

ul.wt_featured-partners
    list-style-type none
    margin 0
    padding 0
    display flex
    justify-content space-around

ul.wt_featured-partners li
    flex 1
    max-width 20rem

/*------------------------------------*\
    SECTION
    components/section.php
\*------------------------------------*/

.wt_page-section
    display flex

.wt_page-section aside
    flex 1

// Switch image and message at each new section
section:nth-child(even) .wt_section-message
    order -1

/*------------------------------------*\
    FEATURED ITEMS
    components/featured-item.php
\*------------------------------------*/

// Display as a flexbox
.wt_featured-items
    display flex
    justify-content space-between

/*------------------------------------*\
    PAGE INTRO
    components/page-intro.php
\*------------------------------------*/

.wt_page-intro
    max-width 60rem
    margin 10rem auto

/*------------------------------------*\
    PARTNERS LIST
    template-partners.php
\*------------------------------------*/

#wt_full-partners-list
    list-style-type none
    margin 0 10rem
    padding 0
    display grid
    grid-template-columns repeat(auto-fit, minmax(15rem, 1fr))
    column-gap 10rem
    row-gap 10rem

/*------------------------------------*\
    WHO WE ARE
    template-leadership.php
    template-community.php
\*------------------------------------*/

.wt_two-column-face-grid
    display grid
    grid-template-columns repeat(auto-fit, minmax(40rem, 1fr))
    margin 0 10rem
    column-gap 10rem
    row-gap 10rem

.wt_three-column-face-grid
    display grid
    grid-template-columns repeat(auto-fit, minmax(30rem, 1fr))
    margin 0 10rem
    column-gap 10rem
    row-gap 10rem

.wt_names-list
    display grid
    grid-template-columns repeat(auto-fit, minmax(15rem, 1fr))
    margin 0 10rem
    column-gap 10rem
    row-gap 10rem
