/*------------------------------------*\
    PARTNERS LIST
    template-partners.php
\*------------------------------------*/

#wt_full-partners-list
    list-style-type none
    margin 0 10% 25% 10%
    vertical-align top
    padding 0
    display grid
    grid-template-columns repeat(auto-fit, minmax(15rem, 1fr))
    grid-gap 10%
    
    img
    	width 100%
    	height auto