/*------------------------------------*\
    PARTNERS LIST
    template-partners.php
\*------------------------------------*/

#wt_full-partners-list
    width 90%
    margin auto

// partner logo in grid
.wt_partner
    cursor pointer
    width 23%
    margin 1% .5%
    display inline-block
    vertical-align top
    height 300px
    width 300px

    img
        width 100%

    // carat attached to profile panel
    &:after
        opacity 0
        transform translate(-165px, 270px)
        content ""
        background-color transparent
        position absolute
        height 30px
        width 0
        border-left 1em solid transparent
        border-right 1em solid transparent
        border-bottom 1em solid $dark-background

    // make room for profile
    &.selected
        height 650px

    &.selected:after
        opacity 1
        transition opacity 0s 0.5s

// expandable partner profile
.wt_partner-profile
    background $dark-background
    color $text-color-light
    height 0
    transform scaleY(0)
    opacity 0
    transition height 0.5s ease-out
    z-index -1
    position absolute
    left 0%
    width 100%

    &.expanded
        opacity 1
        z-index auto
        -webkit-transform translateY(-100%)
        -moz-transform translateY(-100%)
        -ms-transform translateY(-100%)
        transform translateY(-100%)

    &.row-expanded
        height 350px

    // logo
    & > .wt_partner-profile-image 
        // height 20vw
        background white
        border-radius 1em
        display inline-block
        width 20%
        vertical-align top

        img
            width 100%

    & > div
        padding 1em
        margin 1em

    // name, website, and bio
    & > .wt_partner-profile-content
        display inline-block
        width 60%

        // name and website
        & > .wt_partner-profile-header

            & > *
                display inline-block
                width 50%

            & > a
                color $text-color-light

for i in (14..6)
    @media all and (max-width:(i * 100)px)
        .wt_partner
            height (i * 18)px !important
            width (i * 18)px !important

            &.selected
                height (i * 18 + 350)px !important

            &:after
                // center carat directly under grid logo
                transform translate((-1 * (i * 18 / 2 + 15))px, (i * 18 - 30)px) !important

@media all and (max-width:620px)
    .wt_partner
        height 150px !important 
        width 150px !important 

        &.selected
            height 850px !important

        &:after
            transform translate(-90px, 120px) !important

    .wt_partner-profile
        &.row-expanded
            height 700px !important