/*------------------------------------*\
    PARTNERS LIST
    template-partners.php
\*------------------------------------*/

#wt_full-partners-list
    list-style-type none
    padding 0
    display grid
    grid-template-columns repeat(auto-fit, minmax(15rem, 1fr))

// partner logo in grid
.wt_partner
    cursor pointer
    display flex
    align-items center
    justify-content center
    grid-column span 1

    // carat attached to profile panel
    &:after
        opacity 0
        transform translateY(600%)
        content ""
        background-color transparent
        position absolute
        height 1em
        width 0
        border-left 1em solid transparent
        border-right 1em solid transparent
        border-bottom 1em solid $dark-background
        align-self flex-end
        transition all 0.5s ease-in-out

    &.selected:after
        opacity 1
        transform none

// expandable partner profile
.wt_partner-profile
    background $dark-background
    color $text-color-light
    max-height 0vh
    transform scaleY(0)
    transition all 0.5s ease-out

    &.expanded
        max-height 100vh
        transform scaleY(1)

    & > .flex-container
        display flex

        // logo
        & > .wt_partner-profile-image 
            flex-grow 0
            flex-shrink 0
            flex-basis 20vw
            height 20vw
            background white
            border-radius 1em
            vertical-align middle
            display flex
            align-items center
            justify-content center

        & > div
            padding 1em
            margin 1em

        // name, website, and bio
        & > .wt_partner-profile-content

            // name and website
            & > .wt_partner-profile-header
                display flex

                & > *
                    flex 1 0 50vw

                & > a
                    color $text-color-light