body
	&.page-template-template-projects
		.wt_donate-banner
			min-height auto
		
		.footer
			margin-top 0

@media all and (max-width:979px)
	body
		&.page-template-template-projects
			.wt_page-section
				.wt_section-message
					padding-left 2rem
					padding-right 2rem
					box-sizing border-box
			
			.wt_donate-banner 
				.wt_donate-banner-content
					width 90%
					margin 0
					padding 2rem