/*
// Partners
body
    background #e99086
    background linear-gradient(275deg, #e99086 0%, #e99086 10%, #fff 10%)
    background -webkit-linear-gradient(275deg, #e99086 0%, #e99086 10%, #fff 10%)
    background -moz-linear-gradient(275deg, #e99086 0%, #e99086 10%, #fff 10%)

// Leadership
#86e9c3

// Donors
#fff68f

// Initiatives, video sumbission form
#6eb0ff

// Homepage
#ffd25e
#6eb0ff
#ffc3a0

*/
