/*
// Partners
body
    background #e99086
    background linear-gradient(275deg, #e99086 0%, #e99086 10%, #fff 10%)
    background -webkit-linear-gradient(275deg, #e99086 0%, #e99086 10%, #fff 10%)
    background -moz-linear-gradient(275deg, #e99086 0%, #e99086 10%, #fff 10%)

// Leadership
#86e9c3

// Donors
#fff68f

// Initiatives, video sumbission form
#6eb0ff

// Homepage
#ffd25e
#6eb0ff
#ffc3a0

*/


/* yellow block */
#primary_content-block-1 > .wt_section-content::after
    content ""
    background-color transparent
    height 150%
    // transform translate(70%, -10%)
    // margin-top 5%
    // margin-right 50%
    position absolute
    top -10%
    right 0
    border-right 60vw solid
    border-right-color rgb(255,210,94)
    z-index -1

/* blue block */
#primary_content-block-2::before
    content ""
    background-color transparent
    height 150%
    transform translateY(-5%)
    position absolute
    border-right 100vw solid
    border-right-color rgb(110,176,255)	
    border-top 100px solid transparent  
    z-index -1  

/* pink gradiant block */
#primary_content-block-3::before
    content ""
    background-color transparent
    position absolute
    top -50%
    left 0
    height 175%
    // transform translateY(-10%)
    border-right 100vw solid rgb(233,144,134)
    border-top 140px solid transparent
    z-index -1

#news_content-block-1::before
    content ""
    background-color transparent
    position absolute
    top -10%
    left 0
    height 175%
    // transform translateY(-10%)
    border-right 100vw solid rgb(255,255,255)
    border-top 140px solid transparent
    z-index -1
    // intended as chevron floats around when window resized
    // content ""
    // background-color transparent
    // position absolute
    // left 0
    // height 140px
    // transform translateY(634px)
    // border-left 50vw solid transparent
    // border-right 50vw solid transparent
    // border-bottom 140px solid white
    // z-index -1

.projects > .wt_page-intro::before
    content ""
    background-color #6eb0ff
    position absolute
    width 100vw
    height 100vw
    border-radius 100%
    // border-radius 250vh
    // border 250vh #6eb0ff solid 
    top -50%
    left 50%
    transform translate(-50%,-50%)
    z-index -1

.projects > .wt_page-section
    &:first-of-type::after
        content ""
        background-color transparent
        position absolute
        width 100vw
        left 0
        transform translateY(-200px)
        border-bottom 10px rgb(244,244,244) dashed
        z-index -1

    &:nth-of-type(even) > .wt_section-content > .wt_section-image::before
        content ""
        background-color transparent
        position absolute
        height 600px
        left 60vw
        transform translateY(-10%)
        border-left 40vw solid rgb(110,176,255)	
        z-index -1

    &:nth-of-type(odd) > .wt_section-content > .wt_section-image::before
        content ""
        background-color transparent
        position absolute
        height 600px
        left 0
        transform translateY(-10%)
        border-right 40vw solid rgb(110,176,255)	
        z-index -1

.our_partners > .wt_page-intro::before
    content ""
    background-color transparent
    position absolute
    height 300px
    left 0
    top 0
    border-left 100vw solid rgb(233,144,134)
    border-bottom 75px solid transparent
    z-index -1

// Mixin for styling of all pages in "Who We Are" submenu!
style-who-we-are(c)
    & > .wt_page-intro::before
        content ""
        background-color transparent
        position absolute
        height 330px
        left 0
        top 0
        border-right 100vw solid c
        border-bottom 50px solid transparent
        z-index -1	

    & > .wt_three-column-face-grid:nth-of-type(4)::before
        content ""
        background-color transparent
        position absolute
        height 215px
        transform translateY(-50%)
        left 0
        border-right 100vw solid c
        border-top 100px solid transparent
        border-bottom 100px solid transparent
        z-index -1

    & > .wt_two-column-face-grid:nth-of-type(2)::after
        content ""
        background-color transparent
        position absolute
        height 400px
        // transform translateY(-40%)
        left 0
        border-right 40vw solid c
        z-index -1

    & > .wt_two-column-face-grid:nth-of-type(2) > .wt_member:first-child::after
        content ""
        background-color transparent
        position absolute
        width 100vw
        left 0
        transform translateY(200px)
        border-bottom 10px rgb(244,244,244) dashed
        z-index -1

    & > .wt_names-list::before
        content ""
        background-color transparent
        position absolute
        height 400px
        // transform translateY(-40%)
        transform translate(150%, -50%)
        left 0
        border-right 40vw solid c
        z-index -1

.contributors
    style-who-we-are rgb(134,233,195)

.leadership
    style-who-we-are rgb(134,233,195)

.supporters
    style-who-we-are rgb(255,246,143)

.submit-a-video, .volunteers
    overflow-x hidden
     
    & > .wt_form-banner::before
        content ""
        background-color transparent
        position absolute
        height 75vh
        left 0
        top 0
        border-left 100vw solid rgb(110,176,255)
        border-bottom 100px solid transparent
        z-index -1

    & > .main
        position relative
        margin-top 600px
        
        &::after
            content ""
            background-color rgb(196,207,220)
            position absolute
            width 110vw
            height 50%
            top 60%
            left -10vw
            z-index -1

        & > .wt_page-intro::before
            content ""
            background-color transparent
            position absolute
            width 100vw
            left 0
            transform translateY(60px)
            border-bottom 10px rgb(244,244,244) dashed
            z-index -1