.wt_single-languages
    font-size 1.2rem

    &__intro
        text-align center

    &__no-videos
        text-align center

    &__cta
        max-width 500px !important
        margin 5% auto 10% !important

@media all and (max-width:768px)
    .wt_single-languages
        &__pagination
            margin 15% auto 30%	!important