.wt_single-languages
    margin-bottom 150px

    &__intro
        position relative
        margin-top 48px
        min-height 375px
        text-align center
        background $dark_blue
        color $white
        
        &:before
            content ""
            background-color transparent
            position absolute
            height 0
            left 0
            bottom 0
            border-left 100vw solid transparent
            border-bottom 100px solid #fff
            z-index 5
        
        &--names
            h1
                margin-bottom 0
            
            h2
                margin-top 10px
                font-style italic
            
    &__no-videos
        text-align center

    &__cta
        max-width 500px !important
        margin 5% auto 10% !important
        
    &__lexicon
        margin 2%

    h2
        font-size 2.5rem
        text-align center
        
        &+p
            width 90%
            margin 10px auto
            text-align center
            
            a
                display inline !important

@media all and (max-width:768px)
    .wt_single-languages
        &__intro
            margin 15% auto 5% !important
            min-height 0 !important
            
            &:before
                display none !important

        &__pagination
            margin 15% auto 30%	!important
        
        &__lexicon
            margin 0 5%
        
        &__donors
            &--names
                column-count 1