body
	&.single-projects		
		.wt_banner
			font-family 'Noto Sans', sans-serif
			height 60vh
			
			.wt_banner-message
				width 100%
				margin 0
				
				h1
					text-shadow 0 0 30px #000
					text-align center
		
		.wt_single-projects
			font-family 'Noto Sans', sans-serif
			
			&__copy
				width 90%
				max-width 550px
				margin 5% auto 0
			
			&__videos
				margin 5% auto 10%