body
	&.single-projects		
		.wt_banner
			font-family 'Noto Sans', sans-serif
			height 60vh
			
			.wt_banner-message
				width 100%
				margin 0
				
				h1
					text-shadow 0 0 30px #000
					text-align center
		
		.wt_single-projects
			font-family 'Noto Serif', serif
			
			h1
				font-weight 700 !important
				font-size 5rem
				line-height 7rem
				text-align left
			
			p
				font-size 1.85rem
				line-height 3rem
				
				a
					display inline
			
			.giveforms-donation-button
				display block
				width 90%
				max-width 650px
				white-space nowrap
				margin 5rem auto 0 0
				text-align center
				padding 2rem
				font-size 2rem
				font-weight bold
				background-color #4799fc
				border-radius 1rem
				color #fff
				text-transform uppercase
				letter-spacing 0.1rem
				font-family 'Noto Sans', sans-serif
			
			&__copy,
			&__help
				width 90%
				max-width 600px
				margin 5% auto 0
			
			&__videos
				margin 5% auto 10%
				
				h1,
				p
					width 90%
					max-width 600px
					margin-left auto
					margin-right auto
			
		.wt_donate-banner
			padding-bottom 175px
			
			.inner-wrap
				width 90%
				max-width 600px
				
				h1, p
					font-family 'Noto Serif', serif
				
				p
					font-size 1.85rem
					line-height 3rem
					text-align center
				
				.giveforms-donation-button
					display block
					width 90%
					max-width 450px
					white-space nowrap
					margin 5rem auto 0
					text-align center
					padding 2rem
					font-size 2rem
					font-weight bold
					background-color #4799fc
					border-radius 1rem
					color #fff
					text-transform uppercase
					letter-spacing 0.1rem
					font-family 'Noto Sans', sans-serif