// page-template-default conflicts with front page, need better solution
body
	&.page-id-50475
		.wt_header
			&__nav
				ul
					li
						a
							color $blue
						
					&:last-of-type
						li
							background $interactive
							
							a
								color $white !important