body
	&.page-template-template-toolkit
		.header
			a
				color $white !important
				
		.wt_toolkit-page
			text-align center
			margin-bottom 20%
			
			.wt_page-intro
				margin $margin2 auto

			.wt_featured-item
				vertical-align top
				display inline-block
				width 28.5%
				width calc(100%/3.5)

@media all and (max-width:768px)
	body
		&.page-template-template-toolkit
			.wt_toolkit-page
				.wt_page-intro
					margin $margin5 auto $margin1
					
				.wt_featured-item
					width 90% !important