/* VARS */
$text-size = 1.5rem
$heading-size = 4rem

// Set default REM to 16px
html
    font-size 62.5%

// Global font styles
body
    font-family "Montserrat", sans-serif
    font-size $text-size
    // line-height 1.5

h1
    font-size 6rem
    font-family "Roboto", sans-serif

// Header font styles
.header
    font-size $text-size

// Banner font styles
.wt_banner-message h1, .wt_form-banner-message h1
    font-size $heading-size
    line-height 1

// Alert font styles
.wt_alert
    font-size 1.25rem
    //font-size $text-size

@media all and (max-width: 979px)
    h1
        font-size 3rem