/**
 * html element 62.5% font-size for REM use
 */

// Set default REM to 16px
html
    font-size 62.5%

// Global font styles
body
    font-family "Noto Sans", sans-serif
    font-size 2rem
    line-height 1.5

// Header font styles
.header
    font-size 1.6rem

// Banner font styles
.wt_banner-message h1
    font-size 6rem
    line-height 1

// Alert font styles
.wt_alert
    font-size 1.2rem

.wt_alert h1
    font-weight bold
