/**
 * html element 62.5% font-size for REM use
 */

// Set default REM to 16px
html
    font-size 62.5%

// Global font styles
body
    font-family "Montserrat", sans-serif
    font-size $text-size
    line-height 1.5

// Header font styles
.header
    font-size $small-text-size

// Banner font styles
.wt_banner-message h1
    font-size $heading-size
    line-height 1

// Alert font styles
.wt_alert
    font-size $small-text-size
