/* colors */
$bright_blue = #4799fc
$dark_blue = #11242f
$pink = #e99086
$yellow = #ffc342
$white = #ffffff

/* fonts */
$sans_serif = 'Noto Sans', sans-erif
$serif = 'Noto Serif', serif

/* delete after homepage redesign */
// $yellow = #f9d271
// $vivid-yellow = #ffc342
// $pink = #e99086

// $text-color = #11242f
// $highlight-color = #4799fc
// $text-color-light = white
// $alert-color = #b8ffdd
// $dark-background = #0d232f
// $footer-offblue = #78858a
/* end delete */