/* colors */
$bright_blue = #4799fc
$dark_blue = #11242f // alt: #0d232f?
$pink = #e99086
$yellow = #ffc342
$lightyellow = #ffdc90
$white = #ffffff

/* fonts */
$sans_serif = 'Noto Sans', sans-erif
$serif = 'Noto Serif', serif