body		
	&.page-template-template-videos,
	&.post-type-archive-videos,
	&.languages-template-default,
	&.videos-template-default
		font-size 1.2rem
		
		.wt_page-intro
			margin 1% auto
			text-align center
					
		.pagination
			text-align center
			margin 5% auto 10%

			a, span
				width initial
				margin 0 10px
				font-weight bold

			.current
				color #6eb0ff

@media all and (max-width:869px)
	body
		&.page-template-template-videos,
		&.post-type-archive-videos
		&.languages-template-default
			.wt_video-preview
				width 45%

@media all and (max-width:768px)
	body
		&.page-template-template-videos,
		&.post-type-archive-videos
		&.languages-template-default
			.wt_page-intro
				margin 15% auto 5% !important
				
			.wt_video-preview
				display block !important
				width 90% !important
				margin 5% auto !important
		
		&.page-template-template-videos
			.pagination
				margin 10% auto 15%
		
		&.languages-template-default
			.pagination
				margin 15% auto 30%	