body		
	&.page-template-template-videos,
	&.post-type-archive-videos,
	&.languages-template-default,
	&.videos-template-default
		font-size 1.2rem
		
		.wt_page-intro
			margin 1% auto
			text-align center
			
		.wt_video-preview
			display inline-block
			vertical-align top
			width 29%
			margin 2%
			-webkit-box-shadow 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12)
			box-shadow 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12)
			border-radius 3px
			overflow hidden
			padding-bottom 10px
			
			.wt_video-thumbnail
				width 100%
				padding-bottom 56%
				background-size 100% !important
				position relative 
				
				&.empty
					background #6eb0ff
					
					&::before
						content "This video is not yet available"
						position absolute
						color #fff
						top 50%
						transform translateY(-50%)
						width 100%
						text-align center
						font-weight 700
						font-size 1rem
						letter-spacing 0.1rem
			
			h2,
			h3,
			p
				padding 0 15px
				
			h3
				margin-bottom 0
			
			p
				margin 5px 0
			
			a
				color #6eb0ff
				
				&.inline
					display inline
				
				&:hover
					text-decoration underline
		
		.pagination
			text-align center
			margin 5% auto 10%

			a, span
				width initial
				margin 0 10px
				font-weight bold

			.current
				color #6eb0ff

@media all and (max-width:869px)
	body
		&.page-template-template-videos,
		&.post-type-archive-videos
		&.languages-template-default
			.wt_video-preview
				width 45%

@media all and (max-width:768px)
	body
		&.page-template-template-videos,
		&.post-type-archive-videos
		&.languages-template-default
			.wt_page-intro
				margin 15% auto 5% !important
				
			.wt_video-preview
				display block !important
				width 90% !important
				margin 5% auto !important
		
		&.page-template-template-videos
			.pagination
				margin 10% auto 15%
		
		&.languages-template-default
			.pagination
				margin 15% auto 30%	