/*------------------------------------*\
    VOLUNTEERS PAGE
\*------------------------------------*/

body
    &.page-template-template-volunteers
        .main
            position relative
            margin 0 0 15%
            text-align center
            
            &:before
                content ""
                background-color transparent
                position absolute
                height 0
                left 0
                top -100px
                border-left 100vw solid transparent
                border-bottom 100px solid white
                z-index 5
            
            .wt_page-intro
                margin-top 0
                
                p
                    text-align left
                
            .wt_featured-item
                display inline-block
                vertical-align top
                max-width 500px
                margin 2rem
                
                p
                    text-align left