@require "banner"
@require "cta"
@require "featured-item"
@require "newsletter-signup"
@require "page-intro"
@require "pagination"
@require "popup-notice"
@require "section"
@require "video-preview"
@require "seedbank-donors"