.wt_cta
    padding $margin1 0 $margin5 0
    text-align center
    color $pewter
    
    &__link
        display block
        width 90%
        max-width 500px
        margin $margin1 auto
        background $interactive
        padding 25px
        box-sizing border-box
        border-radius 60px
        text-align center
        interactive($white)
        font-size 2.8rem
    
    &__secondary
        interactive($pewter)
        font-size 1.8rem
        text-align center
        
        i
            font-size 2.8rem
            margin-right 8px
            vertical-align middle
            
            span
                vertical-align middle