.single-projects__jewish
	.wt_content-block
		width 90%
		max-width 600px
		margin $margin3 auto 0
		
		p
			line-height 3.6rem
		
		&:first-of-type
			margin-top $margin5
		
		.wt_primary-action
			display inline-block
			width 48%
			max-width 500px
			margin $margin1 4% $margin1 0
			background $interactive
			border 5px solid $interactive
			padding 25px
			box-sizing border-box
			border-radius 60px
			text-align center
			font-size 1.5rem
			color $white
			font-family objektiv-mk1, sans-serif
			font-weight 500
			text-transform uppercase
			font-size 2.8rem
			    
		.giveforms-donation-button
			display inline-block
			width 48%
			max-width 500px
			border 5px solid $interactive
			padding 25px
			box-sizing border-box
			border-radius 60px
			text-align center
			font-size 1.5rem
			color $interactive
			font-family objektiv-mk1, sans-serif
			font-weight 500
			text-transform uppercase
			font-size 2.8rem
	
	.wt_donate
		padding $margin3 0

@media all and ( max-width: $mobile )
	.single-projects__jewish
		.wt_content-block
			h1 br
				display none
			
			.wt_primary-action,
			.giveforms-donation-button
				font-size 1.4rem