/*------------------------------------*\
    NEWSLETTER SIGNUP
    components/newsletter.php
\*------------------------------------*/

.wt_newsletter
    width 75%
    margin $margin5 auto 0
    
    &__tease
        width 50%
        float left
        text-align right
        padding-right $margin2
        box-sizing border-box
        border-right 1px solid $blue
        
        p
            margin 0

    &__signup
        width 50%
        float left
        padding-left $margin2
        box-sizing border-box
        
        #mc_embed_signup
            h2
                display none
                
            .mc-field-group
                display inline-block
                width 60%
                margin-right 2%
                        
                input[type="email"]
                    margin 0
                    width 100%
                    padding 0 10px 10px
                    box-sizing border-box
                    border-bottom 1px solid $blue
                    interactive($blue)
                                                       
                    &:focus
                        outline none
            
            .clear
                display inline-block
                
                &:last-of-type
                    width 30%
                
                input[type="submit"]
                    background $interactive
                    width 100%
                    border 0
                    border-radius 30px
                    interactive($white)
                    
                    &:focus
                        outline none
                    
            .mce_inline_error
                margin-bottom 0 !important
                text-align center
                padding 10px 0
                interactive($white)
                font-size 1rem !important
            
            #mce-success-response,
            #mce-error-response
                padding 20px
                background $vivid-yellow
                color $text-color-light
    
    clear()

@media all and (max-width:$mobile)
    .wt_newsletter
        width 90%
        
        &__tease
            float none
            width 100%
            padding $margin1 0
            border 0
            text-align center
            
            br
                display none
        
        &__signup
            float none
            width 100%
