/*------------------------------------*\
    PAGE INTRO
    components/page-intro.php
\*------------------------------------*/

.wt_page-intro
    max-width 60rem
    margin 10% auto
    padding 2rem // Space out from browser boundaries on mobile

    &--short
        margin 1% auto

.wt_section-intro
    width 90%
    max-width 500px
    margin auto
    text-align center
    margin-top 50px
    
    .wt_cta
        width 100%
        margin auto !important
        
    p
        a
            display inline
            font-weight bold