.pagination
    text-align center
    margin 5% auto 10%

    a, span
        width initial
        margin 0 10px
        font-weight bold
        color $interactive
        font-family $sans_serif

    .current
        border-bottom 1px solid $interactive
