/*------------------------------------*\
    SECTION
    components/section.php
\*------------------------------------*/

.wt_section
    position relative
    margin-top $margin5
    color $pewter
    
    &__aside
        &--image
            position relative
            float(left,50%)
            padding-bottom 35%
            background-size cover !important
            
            &:before
                content ''
                position absolute
                width 100%
                height 100%
                background $pewter
                z-index -5
                top 6%
                left 4%

        &--content
            float(left)
            max-width 370px
            margin-left 7%
        
        &--subheader,
        &--header
            margin 0
        
        &--copy
            margin $margin1 0
        
        &--action
            display block
            width 75%
            background $interactive
            padding 20px
            box-sizing border-box
            border-radius 60px
            text-align center
            interactive($white)
        
        &--secondaryaction
            display block
            margin-top $margin1
            interactive($pewter)
            
            i
                font-size 2.5rem
                vertical-align middle
                margin-right 5px
                
                &:last-of-type
                    display none
            
            span
                vertical-align middle
    
    &:nth-of-type(2n)
        aside
            float(right)
            text-align right
            
            &:first-of-type
                &:before
                    left -4%
            
            &:last-of-type
                margin-right 7%
                margin-left 0 !important
            
            .wt_section__aside--action
                margin-left auto !important
            
            .wt_section__aside--secondaryaction
                i
                    &:first-of-type
                        display none
                    
                    &:last-of-type
                        display inline
                        margin 0 0 0 5px

    clear()

@media all and (max-width:$mobile)
    .wt_section
        margin-top $margin1
        
        &__aside
            &--content
                float none !important
                width 100% !important
                margin 0 !important
                padding 30px
                box-sizing border-box
                
                br
                    display none
            
            &--action
                width 100%
            
            &--image
                float none !important
                width 100% !important
                margin 0 !important
            
                &:before
                    display none !important