.wt_seedbank-donors
    width 90%
    margin auto auto 15%
    text-align center
     
    &--header
        margin-bottom 25px
        
    &--names
        column-count 3
        
        .wt_member
            h2
                font-weight normal
                font-size 1.5rem
                margin auto 10px

@media all and (max-width:768px)
    .wt_seedbank-donors
        margin-bottom 35%
        
        &--names
            column-count 1